<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>final_two</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="wrapper">
      <div id="nav_container"></div>
      <div class="container"></div>
    </div>
    <div class="footer"></div>

    <script type="text/template" id="nav">
    <a href="#/"><h1>Final Project</h1></a>
    <div class="navBar">
    <% if(App.user == null){ %>
      <button id="navLogin"></button>
      <% } else { %>
        <a id="navCreate" href="#/create">Create</a>
        <a href="#/me">Me</a>
        <button id="navLogin"></button>
        <% } %>
        </div>
        </script>

        <script type="text/template" id="logInForm">
        <form id="logIn">
        <h3 class="mainPage">Log In</h3>
        <input id="username" type="text" placeholder="Enter User Name" />
        <input id="password" type="password" placeholder="Enter Password" />
        <button>Log In</button>
        </form>
        <form id="signUp">
        <h3 class="mainPage">Sign Up</h3>
        <input id="fullname" type="text" placeholder="Full Name" />
        <input id="newUsername" type="text" placeholder="New Username" />
        <input id="newPassword" type="password" placeholder="New Password" />
        <button>Sign Up</button>
        </form>
        </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>

    <script type="text/javascript">
      window.App = {};
      App.Models = {};
      App.Collections = {};
      App.Views = {};
      App.Routers = {};
    </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/post_model.js"></script>
        <script src="scripts/models/comments_model.js"></script>
        <script src="scripts/collections/posts_collection.js"></script>
        <script src="scripts/collections/comments_collection.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
