<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>final_two</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="wrapper">
      <div id="nav_container"></div>
      <div class="container"></div>
    </div>
    <div class="footer"></div>

    <script type="text/template" id="nav">
      <a href="#/"><h1>Final Project</h1></a>
      <div class="navBar">
        <% if(App.user == null){ %>
        <button id="navLogin"></button>
        <% } else { %>
        <a id="navCreate" href="#/create">New Board</a>
        <a href="#/me">My Profile</a>
        <button id="navLogin"></button>
        <% } %>
      </div>
    </script>

    <script type="text/template" id="logInForm">
      <form id="signUp">
        <h3 class="mainPage">Sign Up</h3>
          <input id="email" type="email" placeholder="Email Address" />
          <input id="newUsername" type="text" placeholder="New Username" />
          <input id="newPassword" type="password" placeholder="New Password" />
        <button>Sign Up</button>
      </form>
      <form id="logIn">
        <h3 class="mainPage">Log In</h3>
          <input id="username" type="text" placeholder="Enter User Name" />
          <input id="password" type="password" placeholder="Enter Password" />
          <button>Log In</button>
      </form>
    </script>

    <script type="text/template" id="postsList">
      <% if(App.user !== null){ %>
        <% if(App.user.id === user.objectId){ %>
          <li <% if(published === false){ %>class="draft"<% } %> id="<%= objectId %>">
            <a href="#/single/<%= objectId %>"><h2><%= title %></h2></a>
              <span class="postDetails">
            <a href="#/author/<%= user.objectId %>"><%= author %></a>
              posted on <%= moment(updatedAt).format('MMMM Do YYYY, h:mm a') %>
            <a class="textLink" href="#/single/<%= objectId %>">Read Post</a>
            <a class="textLink" href="#/edit/<%= objectId %>">Edit Post</a>
              </span>
          </li>
            <% } else if(published === true){ %>
          <li class="" id="<%= objectId %>">
            <a href="#/single/<%= objectId %>"><h2><%= title %></h2></a>
              <span class="postDetails">
            <a href="#/author/<%= user.objectId %>"><%= author %></a>
              posted on <%= moment(updatedAt).format('MMMM Do YYYY, h:mm a') %>
            <a class="textLink" href="#/single/<%= objectId %>">Read Post</a>
              </span>
          </li>
            <% }} else { %>
              <% if(published === true){ %>
              <li class="" id="<%= objectId %>">
                <a href="#/single/<%= objectId %>"><h2><%= title %></h2></a>
                <span class="postDetails">
                <a href="#/author/<%= user.objectId %>"><%= author %></a>
                posted on <%= moment(updatedAt).format('MMMM Do YYYY, h:mm a') %>
                <a class="textLink" href="#/single/<%= objectId %>">Read Post</a>
                </span>
              </li>
                <% }} %>
      </script>

      <script type="text/template" id="singlePost">
        <h2 id="singleTitle"><%= title %></h2>
          <a id="postAuthor" href="#/author/<%= user.objectId %>"> by <%= author %></a>
            <p id="singleCopy"><%= copy %></p>
              <h3 class="commentHeader">Comments on "<%= title %>"</h3>
                <% if(App.user != null){ %>
          <form id="addComment">
            <textarea id="commentText" placeholder="Add Your Comments"></textarea>
              <button id="addCommentButton">Add Comment</button>
          </form>
                <% } %>
        </script>




      <!--   <script type="text/template" id="createPost">
        <h3 class="postH3">Title</h3>
          <input type="text" id="title">
        <h3 class="postH3">Board</h3> -->
          <!--   <textarea id="copy" cols="30" rows="10"></textarea> -->

    <!--        <section id="drag-drop" class="drag-drop-section">
     <div class="dropImg">
       <div id="drop-zone" class="drop-zone">
         <div class="drop-zone-label default-label">Drop your image here</div>
       </div>
       <div id="dragged-images" class="dragged-images"></div>
     </div>
              </section> -->

    <!--     <div class="catButtons">
    <button id="publish">Show Everyone</button>
    <button id="draft">Keep it Secret</button>
          </div>
      </script> -->

      <section id="drag-drop" class="drag-drop-section">
        <div class="dropImg">
          <div id="drop-zone" class="drop-zone">
            <div class="drop-zone-label default-label">Drop your image here</div>
          </div>
          <div id="dragged-images" class="dragged-images"></div>
        </div>
      </section>

       <script id='createPost' type='text/template'>
         {{#images}}
         <div class="image-section {{class}}">
           <div class="image-wrap">
           <img class="target-image" src="{{file}}" />
           </div>
           <div class="color-thief-output"></div>
         </div>
         {{/images}}
      </script>


     <script id="colorPost" type="text/template">
      <div class="function get-color">
        <h3 class="function-title">Dominant Color</h3>
        <div class="swatches">
          <div class="swatch" style="background-color: rgb({{color.0}}, {{color.1}}, {{color.2}})"></div>
        </div>
      </div>
      <div class="function get-palette">
        <h3 class="function-title">Palette</h3>
        <div class="function-output">
          <div class="swatches">
            {{#palette}}
              <div class="swatch" style="background-color: rgb({{0}}, {{1}}, {{2}})"></div>
            {{/palette}}
          </div>
        </div>
      </div>
    </script>



      <script type="text/template" id="editPost">
          <h3 class="postH3">Title</h3>
            <input type="text" id="title" value="<%= title %>">
          <h3 class="postH3">Board</h3>
            <textarea id="copy" cols="30" rows="10"><%= copy %></textarea>
              <div class="catButtons">
                <button id="publish">Show Everyone</button>
                <button id="draft">Keep it Secret</button>
              </div>
        </script>

        <script type="text/template" id="commentTemp">
          <li class="commentList">
            <span class="commentAuthor">
              <a href="#/author/<%= user.objectId %>"><%= author %></a> commented:</span>
              <p><%= commentText %></p>
          </li>
        </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>

    <script type="text/javascript">
      window.App = {};
      App.Extra = {};
      App.Models = {};
      App.Collections = {};
      App.Views = {};
      App.Routers = {};
    </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/extra/color-thief.js"></script>
        <script src="scripts/extra/color-thief.min.js"></script>
        <script src="scripts/extra/demo.js"></script>
        <script src="scripts/extra/mustache.js"></script>
        <script src="scripts/models/posts_model.js"></script>
        <script src="scripts/models/comments_model.js"></script>
        <script src="scripts/collections/posts_collection.js"></script>
        <script src="scripts/collections/comments_collection.js"></script>
        <script src="scripts/views/create_post_view.js"></script>
        <script src="scripts/views/edit_post_view.js"></script>
        <script src="scripts/views/login_view.js"></script>
        <script src="scripts/views/my_posts_view.js"></script>
        <script src="scripts/views/nav_view.js"></script>
        <script src="scripts/views/public_posts_view.js"></script>
        <script src="scripts/views/single_post_view.js"></script>
        <script src="scripts/routes/app_router.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
